<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    
    <title>Forum app</title>

    <!-- FOOTER PICTURES-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!--BOOTSTRAP STUFF-->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!--My Style Sheet-->
    <link rel="stylesheet" href="style.css">
  
  </head>
  
  <body>

    <div class="row">
        <div class="col-md-3">
      <div class="navigation">
          <a href="/homePage" style="color:#2f3138";><i class="fa fa-home"></i><br>Home</a>
          <br>
          <br>
          <a href="/topics" style="color:#2f3138"><i class="fa fa-comments"></i><br>Topics</a>
          <br>
          <br>
          <a href="/users" style="color:#2f3138"><i class="fa fa-users"></i><br>Users</a>
          <br>
          <br>
          <a href="/popularTopics" style="color:#2f3138"><i class="fa fa-star-o"></i><br>Popular Topics</a>
          <br>
          <br>
        </div>
      </div>
         <div class="col-md-9">
          <div claas ="body">
          <a href="/signout">Sign Out</a>
          
            {{{body}}}
          </div>
         </div>

    </div>

  </body>
  


</html>