<h1>SIGN IN</h1>
<form action="/login" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="submit" value="login">
</form>

<h1>SIGN UP</h1>
<form action="/signup" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="text" name="name" placeholder="full name">
				<input type="text" name="img_url" placeholder="img">
				<input type="text" name="bio" placeholder="tell us about yourself">
	
				<input type="submit" value="sign up">
</form>