<div class="signIn">
	<div class="signin">
		<h1>SIGN IN</h1>
		<form action="/login" method="POST">
						<input type="text" name="username" placeholder="username">
						<div class = "login"><input type="submit" value="login" class="login"></div>
		</form>
	</div>

	<script>document.querySelector('.col-md-3').removeChild(document.querySelector('.navigation'));</script>

	<div class="signup">
		<h1>SIGN UP</h1>
		<form action="/signup" method="POST">
						<input type="text" name="username" placeholder="username">
						<br>
						<input type="text" name="name" placeholder="full name">
						<br>
						<input type="text" name="img_url" placeholder="img">
						<br>
						<textarea id="text" type="text" name="bio" placeholder="Tell us about yourself"></textarea><br>
						<br>
						<div class="login"><input type="submit" value="login"></div>
		</form>
	</div>
</div>

