<h1 class="new-post-h1">Create a New Post</h1>

<div class="new-post-form">
	<form action="/posts/{{id}}/new" method="POST">
				<input type="text" name="description" placeholder="add your two cents">
				<input type="submit" value="submit">
	</form>
</div>