 <h1 class="Topich1">Chose or Create a Topic</h1></div>

{{#each topics}}
	<div class ="single box">
		<h3>
			<a href="/topics/{{id}}">{{title}}</a>
		</h3>

		<a href="/topics/{{id}}">
			<img src="{{img_url}}" alt="" height="200" width="200">
		</a>

	</div>
{{/each}}

<div class="newTopic box">
		<a href="/topics/new">
			add a new topic
		</a>
</div>
