  <h1> Welcome to the Topics Page</h1>

{{#each topics}}
	<div class="single box">
		<h3>
			<a href="/topics/{{id}}">{{title}}</a>
		</h3>

		<a href="/topics/{{id}}">
			<img src="{{img_url}}" alt="" height="300" width="300">
		</a>

	</div>
{{/each}}


	<a href="/topics/new">
		add a new topic
	</a>
