body{
	background-image: url("https://mastajappa.files.wordpress.com/2011/02/city_night-00000.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: 'fff_tusjbold';
    src: url('./FFF_Tusj-webfont.eot');
    src: url('./FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('./FFF_Tusj-webfont.woff') format('woff'),
         url('./FFF_Tusj-webfont.ttf') format('truetype'),
         url('./FFF_Tusj-webfont.svg#fff_tusjbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1{
	font-family: 'Josefin Slab', serif;
	color: #2f3138;
}

a:hover{
	color:white;
}

/*LOGIN PAGE
--------------------------*/
.signout{
	text-align: right;
	margin: auto;
	padding: 20px;
	font-size: 30px;
	position: relative;
	font-family: 'Josefin Slab', serif;
  text-shadow:
  -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


.navigation{
  background-color:rgba(223, 132, 96, 0.5);
  text-align: center;
  margin: auto;
  font-size: 43px;
  width: 20%;
  padding: 40px;
  position: fixed;
  text-decoration: none;
  font-family: 'Josefin Slab', serif;

  border-right: 6px;
  border-style: solid;
}

.signIn{
	background-color: red;
  height: 675px;
  position: fixed;
  padding: 75px;
  margin: auto;
  margin-left: 235px;
  margin-bottom: 300px;
}

#text {
 position: relative;
 width: 223px;
 height: 75px;
}

.signup{
	width: 500px;
  height: 200px;
  text-align: center;
  margin-top: 0px;
  position: relative;
  top: 0px;

}


.signIn input, textarea{
  text-align: center;
	margin: 5px 5px 5px 5px;
  font-family:'Josefin Slab', serif;
  font-size: 20px;
}

.signin{
	width: 500px;
  height: 200px;
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
}
.signIn h1{
	font-size: 40px;
}

.login{
  font-family: 'Josefin Slab', serif;
  font-size: 23px;
}

/*AFTERLOG
--------------------------*/
.afterlog{
  height: 375px;
  width: 600px;
  padding: 30px;
  background-color:rgba(251, 249, 194, 0.7);
  margin: auto;
  position: relative;
  right: 50px;
  top: 70px;

}

.afterlog h2, h1{
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size:38px; 
}

.afterlog h1{
  font-size:50px; 
  padding: 15px;
}

.afterlog h2{
  padding: 0px;
}


/* TOPICS INDEX
------------------------------*/
.single {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  float: left;
  text-align: center;
  margin: 25px;
}

.box {
  background: rgba(251, 249, 194, 0.7);
}

.Topich1{
  font-size: 50px;
  text-align: center;
}



.newTopic{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  float: left;
  text-align: center;
  margin: 15px;
  border-style: dashed;
  color: black;
  border-width: 10px;
  padding-top: 110px;
}

.newTopic a{
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 35px;
  padding: 30px;
  position: relative;
  color: black;
}


.single h3{
  font-family: 'Josefin Slab', serif;
  font-size: 30px;

}

.single a{
  color:black;
}


/*SINGLE TOPIC
--------------------------*/
.topicTitle{
  height: 150px;
  width: 700px;
  padding: 15px;
  padding-top: 0px;
  text-align: center;
}

.t-title{
  color:white;
  text-align: center;
  font-size: 70px;
  font-family:'Josefin Slab', serif;
}

.postsTopic{
  background-color: rgba(251, 249, 194, 0.7);
  padding: 2%;
  margin: auto;
  height: 300px;
  width: 800px;
  display: block;
}

.postsTopic p{
  font-family: 'Josefin Slab', serif;
  color: #2f3138;
}
.username{
  font-size: 25px;
  display: block;
  color: #2f3138;
  font-family: 'Josefin Slab', serif;
}

.textInPost{
  display: block;
  float: right;
  font-size: 20px;
}

.description{
  text-align: center;
  margin-right: 200px;
  font-size: 30px;
  margin-top: 0;
}

.addPost{
  font-size: 50px;
  font-family: 'Josefin Slab', serif;
  margin: auto;
  color:rgba(223, 132, 96, 0.9);
  margin-left: 500px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

/* NEW TOPIC FORM
------------------------------*/

.new-topic-form{
  background-color: rgba(256, 242, 194, 0.7);
  height: 200px;
  position: fixed;
  padding: 75px;
  margin-left: 235px;
  margin-bottom: 300px;
}

.new-topic-h1{
  text-align: center;
  margin-right: 10%;

}
.new-topic-form input{
  text-align: center;
  margin: 5px 5px 5px 5px;
  font-family:'Josefin Slab', serif;
  font-size: 20px;
}

/* NEW POST FORM
------------------------------*/
.new-post-form{
  background-color: rgba(256, 242, 194, 0.7);
  height: 200px;
  width: 600px;
  padding: 75px;
  margin-left: 235px;
  margin-bottom: 300px;
  text-align: center;
}

.new-post-h1{
  text-align: center;
  margin-right: 10%;

}
.new-post-form input{
  text-align: center;
  margin: 5px 5px 5px 5px;
  font-family:'Josefin Slab', serif;
  font-size: 20px;
}

/* USER SHOW
------------------------------*/
.post{
  background: rgba(251, 249, 194, 0.7);
  font-size: 26px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  width: 1175px;
  margin:30px;
}

.all-user-post{
  font-size: 50px;
  color:rgba(223, 132, 96, 0.9);;

}

.profile{
  background: rgba(223, 132, 96, 0.8);
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  width: 1175px;
}

.bio{
  word-wrap: break-word;
  padding: 15px;
  float: right;
  margin-top:-400px;
  margin-right:215px;
}

.upper-bio{
  padding: 15px;
  padding-left: 30px;
}

