body{
	background-image: url("https://mastajappa.files.wordpress.com/2011/02/city_night-00000.jpg");
}

.navigation{
	background-color: #bbbb37;;
	text-align: center;
	margin: auto;
	font-size: 40px;
	color: brown;
	height: 100%;
	padding: 55px;

}

